body {
    font:14px/1.231 "ヒラギノ角ゴ Pro W3";
    color: #FFFFFF;
    background-color: #15406a;
}
#wrap {
    padding: 10px;
}

p {
    margin-bottom: 1em;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 121%;
    text-shadow: 1px 1px 2px #ccc;
    color: #f4b800;
    margin-bottom: 10px;
}

h3 {
    background: url(../images/ico_title.png) left top no-repeat;
    padding-left: 20px;
    color: #f4b800;
    margin-bottom: 1em;
    margin-height: 23px;
}

table, tr, th, td  {
/*    background: #FFFFFF;*/
/*    background: #15406a; */
    background: #565657;
    border: 1px solid;
    border-color: #FFFFFF;
    padding: 5px;
}


#btn {
    background: -moz-linear-gradient(top, #8daac7 0%, #385572);
    background: -webkit-gradient(linear, left top, left bottom, from(#8daac7), to(#385572));
    border: 2px solid #DDD;
    color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    width: 320px;
    font-size: 150%;
    height: 20px;
    text- aligne: center;
    padding: 40px;
    margin-bottom: 10px;
}

