body {
    font:14px/1.231 "ヒラギノ角ゴ Pro W3";
}
#wrap {
    padding: 10px;
}
section, nav {
    margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
}

aside {
    background-color: #ebebeb;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
}

aside p:last-child {
    margin-bottom: 0;
}

h2 {
    font-size: 121%;
    text-shadow: 1px 1px 2px #ccc;
    color: #f4b800;
    margin-bottom: 10px;
}

h3 {
    background: url(../images/ico_title.png) left top no-repeat;
    padding-left: 20px;
    color: #f4b800;
    margin-bottom: 1em;
    min-height: 23px;
}

nav {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #9cc900;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3fb00), to(#9cc900));
    font-size: 107%;
    width: 300px;
}
nav li {
    text-align: center;
    float: left;
    font-weight: bold;
    border-left: 1px solid #fff;
    text-shadow: -1px -1px 0 rgba(150, 150, 150, 0.3);
}
nav li a{
    display: block;
    width: 99px;
    padding: 8px 0;
}
nav li:first-child {
    border: none;
}

#btnTop {
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#cbcccf), to(#acaeb0)) #cbcccf;
    width: 7em;
    font-size: 85%;
    text-align: center;
    float: right;
    margin-right: 10px;
}

#btnTop a {
    text-shadow: 1px 1px 0 #ddd;
    display: block;
    padding: 5px 0;
    color: #444444;
    text-decoration: none;
}

/* clearfix */
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

