Ψothers ‡ money managementΨ
<div>
管理対象<br>
・手持ち<br>
・ゆうちょ<br>
・UFJ<br>
・SBI<br>
</div>

<br>
<div>
収支管理<br>
・給与<br>
・賞与<br>
・交通費<br>
</div>

<br>
<div>
固定費<br>
・家計<br>
・携帯<br>
・定期<br>
</div>

<br>
<div>
・クレジット（ライフ）<br>
・美容院<br>
・昼食<br>
・その他雑費<br>
・娯楽<br>
</div>

<br>
<div>
項目<br>
・食費<br>
・衣服費<br>
・住居費<br>
・水光熱費<br>
・医療/生活用品費<br>
・通信費<br>
・交通費<br>
・教養娯楽費<br>
・交通費<br>
・保険/税金<br>
・その他支出<br>
・貯金
</div>
