#container {
	width:650px;
}
#main {
	background:#afa;
	width:340px;
	float:right;
	padding:10px;
}

#sidebar {
	border:#00f 1px solid;
	width:230px;
	padding:10px;
	float:left;
}

#TextBoxTitle {
	width:100%;
}

#TextBoxDesc {
	width:100%;
	height:150px;
}